/* Stylesheet for NWS1Day.html */
body {
  font-family: sans-serif;
}
img {
	display:inline;
}
div.period {
  float:left;
  overflow: auto;
/*  width: 50%; */
}
td.period {
	width: 20%;
}
div#forecast {

}
div#hourly {
clear:left;
}
p {
  margin: 0;
  padding: 0;
}
p.condTemp {
	display: inline;
	font-size: 48pt;
	font-weight: bold;
	padding-left: .33em;
}
h3 {
  padding-bottom: 0;
  margin-bottom: 0;
  clear: left;
}
hr {
  border-top: 2pt solid darkgreen;
  clear: left;
}
.hrly {
	font-size: 8pt;
	float: left;
}
/* div.hrly p {
	clear:left;
} */
.wxgraph {
  clear: left;
}
.fcstHeadline {
	padding-bottom: .1em;
	margin-bottom: .1em;
}
.fcstCity {
	font-weight: bold;
	font-size: larger;
}
.fcstArea {
	font-size: smaller;
}
.updTime {
	font-size: smaller;
	font-weight: bold;
}